{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
	{% include "navbar.html" with homeactive='class="active"' %}
{% endblock %}

{% block content %}
<div id="about">
	<div class="hor" id="about-img">
		<img src="{% static "img/about.jpg" %}" width="253px" height="300px"/>
	</div>
	<div class="hor" id="about-text">
		<h4 class="about">Hi! I'm Steph.</h4>
		<p class="about">I'm a rising junior at <a href="www.olin.edu">Franklin W. Olin College of Engineering</a>. Currently I'm working as a web devloper and designer for <a href="http://www.neuroscouting.com/">NeuroScouting, LLC</a>.</p>
		<p>My passions lie in sustainability, visual art, design, and fighting, but I do a lot of other things too. This site is where I plan to put everything I'm proud of, so have a look around and leave me feedback if you have it!</p>
	</div>
</div>

{% endblock %}