{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
	{% include "navbar.html" with photographyactive='class="active"'%}
{% endblock %}

{% block content %}

<ul id="albums">
	<li class="hor">
		<a href="{% url "album 'portaits'" %}">
			<img src={{portraits}}>
		</a>
		<h5>Portraits</h5>
	</li>
	<li class="hor">
		<a href="{% url "album 'nature'" %}">
			<img src={{nature}}>
		</a>
		<h5>Nature</h5>
	</li>
	<li class="hor">
		<a href="{% url "album 'etcetera'" %}">
			<img src={{etcetera}}>
		</a>
		<h5>Etcetera</h5>
	</li>
</ul>

{% endblock %}